body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.icon-bar{
    height: 100px;
    width: 90px;
    background-color:gray;
    border: 1px solid black;
}

.icon-bar a{
    display: block;
    text-align:center ;
    padding: 16px;
    transition:all;
    color: pink;
    font-size: 36px;
}

.icon-bar a:hover{
    background-color: rgb(143, 200, 58);
}