*{
    box-sizing: border-box;
}
.container{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
width: 30%;
height: 300px;
border: 1px solid rgb(7, 7, 7);
background-color: #f0f0f0
}

.container button{
    border: none;
    padding: 18px;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: medium;
}
.content{
    display: none;
    border: 1px solid rgb(92, 91, 91);
    border-left: none;
    margin: 5px;
    padding: 5px;
    width: 70%;
    height: 300px;
   
}
.container button:hover{
    background-color: rgb(167, 165, 165);
}
.content .active{
    display: block;
}
