/* button{
    border:none;
    color: rgb(6, 6, 6);
    background-color: yellow;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    font-size: medium;
}
button:hover{
    background-color: rgb(150, 150, 244);
} */