/* style div */
*{
    margin: 0%;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: pink;
    display: flex;
    /* flex is used  */
}
/* this is use for all div with same properties

div{ 
    background-color: rgb(176, 176, 239);
    width: 50;
    height: 20%;
    font-size: xx-large;
    font-family: 'Gill Sans';
} */

/* but if you wn different properties for different div u can use inline css
or USE IDs */